.clients {
    background-color: var(--primary-bkgd-color);
}

.clients__section-title {
    margin: 0;
    margin-bottom: 50px;
}

.clients-set {
    display: flex;
}

.clients-set__item:not(:last-child) {
    margin-right: 30px;
}

.clients-set__icon {
    display: flex;
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
}

.clients-set__link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    text-decoration: none;

    transition: border-color var(--duration) var(--timing-function);
}

.clients-set__link:hover,
.clients-set__link:focus {
    border-color: var(--accent-text-color);
}

.clients-set__link svg {
    transition: fill var(--duration) var(--timing-function);
}

.clients-set__link:hover svg {
    fill: var(--accent-text-color);
}

.clients-set__link:focus svg {
    fill: var(--accent-text-color);
}