.clients {
    background-color: var(--primary-bkgd-color);
}
.clients__section-title {
    margin: 0;
    margin-bottom: 50px;
}
.clients-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.clients-set__item {
    width: calc((100% - 2*30px)/2);
    margin: 15px;

    @media screen and (min-width: $tablet) {
        width: calc((100% - 3*30px)/3);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 6*30px)/6);
    }
}
.clients-set__icon {
    display: flex;
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
}
.clients-set__link {
    @extend %flex-center;
    margin-left: auto;
    margin-right: auto;

    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    text-decoration: none;

    transition: border-color var(--duration) var(--timing-function);
    &:hover,
    &:focus {
        border-color: var(--accent-text-color);
    }
}
.clients-set__link svg {
    transition: fill var(--duration) var(--timing-function);
}
.clients-set__link:hover svg {
    fill: var(--accent-text-color);
}
.clients-set__link:focus svg {
    fill: var(--accent-text-color);
}