.feature-set {
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
}
.feature-set__item {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: calc($tablet - 1px)) {
        &:not(:last-child){
        margin-bottom: 30px;
        outline: 1px solid blueviolet;
            }
            }
    @media screen and (min-width: $tablet) {
        width: calc((100% - 2*30px)/2);
        margin: 15px;
        outline: 1px solid blue;
        }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 4*30px)/4);
            }
    }
.feature-set__title {
    @media screen and (max-width: calc($tablet - 1px)) {
        text-align: center;;
    }
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    @include font (14px, 1.14, 0.03em, 700);
    text-transform: uppercase;
}
.feature-set__text {
    margin-top: 0;
    margin-bottom: 0;
}
.feature-set__icon {
    @extend %flex-center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--team-bkgd-color);
    border-radius: 4px;
}
.feature-set__icon--size {
    width: 70px;
    height: 70px;
}