:root {
    --primary-bkgd-color: #FFFFFF;
    --secondary-bkgd-color: #2F303A;
    --team-bkgd-color: #F5F4FA;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-text-color: #2196F3;
    --btn-hover-accent-color: #188CE8;
    --logo-text-color: #000000;

    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --portfolio-bkgd-color: #EEEEEE;
    --header-line-color: #ECECEC;
    --icon-color: #AFB1B8;

    --duration: 250ms;
    --modal-duration: 500ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//Fonts
    $primary-font: 'Roboto', sans-serif;
    $secondary-font: "Raleway", sans-serif;

//Breakpoints
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;
